.contenedor 
{
position: relative;

}
 
.contenido
{
    position: absolute;
    right: 40%;
    top: 240px;
    width: 100%;
    z-index: 1000;
    background-image: url('../../../public/images/Loading.gif');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0.5rem;
    font-size: large;
    padding: 1rem;
    flex: 1;
    font-family: "Segoe UI";
    opacity: 0.8;
}