.alignRight {
    opacity: 0.6;
    float: right;
}

.alignRight :hover {
    opacity: 0.3;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);

}

.receiverMessageReply {
    display: block;
    font-size: smaller;
    background-color: #e9dede;
    padding: 5px 4px 5px 9px;
    border-left: 2px solid #5f967b;
}