.DealForm {
    width: 100%;
    position: absolute;  
    top: 10%;
    z-index: 1000;
    min-width: 40%;
    border: 1px solid #686868;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0.5rem;
    background-color:  	#F8F8F8;
    font-size: large;
    padding: 1rem;
    flex: 1;
    border-radius: 0.6rem;
    font-family: "Segoe UI";
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}